# Create a lambda function named `add` that takes two arguments and returns their sum. Test it with the values `7` and `12`.

In [1]:
add = lambda a, b: a + b

result = add(7, 12)
result

19

# Create a lambda function named `power` that takes two arguments `base` and `exp` and returns `base` raised to the power of `exp`. Test it with `2` and `3`.

In [2]:
power = lambda base, exp: base ** exp

result = power(2, 3)
result

8

# Given a list of numbers `[1, 3, 5, 7]`, use a lambda function with `map()` to create a new list containing the squares of these numbers. Print the result

In [3]:
nums = [1, 3, 5, 7]

sqrt = list(map(lambda x: x**2, nums))
sqrt

[1, 9, 25, 49]

# Given a list of strings `["hello", "world", "python"]`, use a lambda function with `map()` to create a new list with each string converted to uppercase. Print the result.

In [5]:
strings = ["hello", "world", "python"]

uppercase = list(map(lambda x: x.upper(), strings))
uppercase

['HELLO', 'WORLD', 'PYTHON']

# Given a list of numbers `[1, 2, 3, 4, 5, 6]`, use a lambda function with `filter()` to create a new list containing only the even numbers. Print the result.

In [8]:
num = [1, 2, 3, 4, 5, 6]

even = list(filter(lambda x: x % 2 == 0, num))
even

[2, 4, 6]

# Given a list of numbers `[-10, -5, 0, 5, 10]`, use a lambda function with `filter()` to create a new list containing only the positive numbers. Print the result.

In [7]:
num = [-10, -5, 0, 5, 10]

positive_numbers = list(filter(lambda x: x > 0, num))
positive_numbers

[5, 10]

# Given a list of tuples `[(1, 3), (4, 1), (5, 2), (3, 7)]`, use a lambda function with `sorted()` to sort the list by the second element of each tuple. Print the result.

In [9]:
tuples = [(1, 3), (4, 1), (5, 2), (3, 7)]

sorts = sorted(tuples, key=lambda x: x[1])
sorts

[(4, 1), (5, 2), (1, 3), (3, 7)]

# Given a list of strings `["apple", "banana", "cherry"]`, use a lambda function with `sorted()` to sort the strings by their length. Print the result.

In [10]:
strings = ["apple", "banana", "cherry"]

sorts = sorted(strings, key=lambda x: len(x))
sorts

['apple', 'banana', 'cherry']

# Create a list of squares of even numbers between 1 and 20 (inclusive) using list comprehension.

In [11]:
sqrt = [x**2 for x in range(1, 21) if x % 2 == 0]
sqrt

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

# Given a list of strings: `["apple", "banana", "kiwi", "cherry", "date"]`, use list comprehension to create a new list containing only the strings with more than 4 characters.

In [12]:
strings = ["apple", "banana", "kiwi", "cherry", "date"]

char = [s for s in strings if len(s) > 4]
char

['apple', 'banana', 'cherry']

# Given a string: `"hello world"`, use set comprehension to create a set of unique characters in the string (excluding spaces).

In [13]:
string = "hello world"

unique_char = {char for char in string if char != ' '}
unique_char

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

# Create a set of multiples of 3 or 5 between 1 and 50 (inclusive) using set comprehension.

In [14]:
multi = {x for x in range(1, 51) if x % 3 == 0 or x % 5 == 0}
multi

{3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50}

# Create a dictionary where the keys are numbers from 1 to 10 (inclusive) and the values are the squares of these numbers using dictionary comprehension.

In [15]:
sqrt = {x: x**2 for x in range(1, 11)}
sqrt

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Given a list of words: `["apple", "banana", "apple", "orange", "banana", "apple"]`, use dictionary comprehension to create a dictionary where the keys are the words and the values are the counts of each word in the list.

In [16]:
words = ["apple", "banana", "apple", "orange", "banana", "apple"]

word_counts = {word: words.count(word) for word in set(words)}
word_counts

{'orange': 1, 'banana': 2, 'apple': 3}

# Write a generator function `countup(start, end)` that yields numbers from `start` to `end` (inclusive).

In [17]:
def countup(start, end):
    current = start
    while current <= end:
        yield current
        current += 1

test_generator = countup(1, 5)
list(test_generator)

[1, 2, 3, 4, 5]

# Write a generator function `even_numbers(n)` that yields the first `n` even numbers.

In [18]:
def even_numbers(n):
    count = 0
    number = 0
    while count < n:
        yield number
        number += 2
        count += 1

test = even_numbers(5)
list(test)

[0, 2, 4, 6, 8]

# Create a generator expression that yields the squares of numbers from 1 to 10.

In [19]:
squ_gen = (x**2 for x in range(1, 11))
list(squ_gen)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Write a decorator named `repeat` that takes an integer `n` as an argument.The decorator should repeat the execution of the decorated function `n` times. Use the `repeat` decorator to modify a function called `print_message` that prints a custom message. Decorate the `print_message` function with your `repeat` decorator, passing `5` as the argument.Verify that the function is called 5 times and that the message is printed each time.

In [22]:
def repeat(n):
    def decorator(func):
        def wrapper(*args, **kwargs):
            for _ in range(n):
                func(*args, **kwargs)
        return wrapper
    return decorator

@repeat(5)
def message():
    print("There is and execution error in this program.")
    
message()

There is and execution error in this program.
There is and execution error in this program.
There is and execution error in this program.
There is and execution error in this program.
There is and execution error in this program.